<%= render "layouts/navbar" %>
<div class="tasks_main_container">
	<div class="tasks_table_container">

		<h1>Tasks</h1>
		<%= link_to "Create a New Task", new_task_path %>


		<table class="table table-striped">
			
				<thead>
				<div class="task_table_head">
					<tr>
						<th>Content</th>
						<th>Who</th>
						<th>Cost</th>
					</tr>
					</div>
				</thead>

			<tbody id="sortable">
				<% @tasks.each do |task| %>

				<tr>
					<td><%=task.content%></td>	
					<td><%=task.user_id%></td>
					<td><%=task.cost%></td>
					<td><%= button_to "Delete", destroy_task_path(@event, task), method: :delete %>
					<%= button_to 'Edit', edit_task_path(@event, task), :method => "get" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

