<%= render "layouts/navbar" %>
<div class="tasks_main_container">
	<div class="tasks_table_container">

		<h1>Tasks</h1>
		<%= link_to "Create a New Task", new_user_event_task_path%><br>
		<%= link_to "Event Main Page", user_events_path %> <br>
	<br>

		<table class="table table-striped">
			
				<thead>
				<div class="task_table_head">
					<tr>
						<th>Content</th>
						<th>Who</th>
						<th>Cost</th>
					</tr>
					</div>
				</thead>

			<tbody id="sortable">
				<% @tasks.each do |task| %>

				<tr>
					<td><%= link_to task.content, user_event_task_path(current_user.id, @event.id, task.id) %></td>	
					<td><%=task.user_id%></td>
					<td><%=task.cost%></td>
					<td><%= button_to "Delete", user_event_task_path(@current_user.id, @event.id, task.id), method: :delete %>
					<%= button_to 'Edit', edit_user_event_task_path(@current_user.id, @event.id, task.id ), :method => "get" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

