<div>
	<%= @event.title %><br>
	<%= @event.description %><br>
	<%= @event.start_date.month %><br>
	<%= @event.end_date %><br>
	<%= @event.start_time %><br>
	<%= @event.end_time %><br>
	<%= button_to "Delete", "/events/#{@event.id}", method: :delete %>
</div>