<div class="event_body_container">	

	<%= render "layouts/navbar" %>

		<div class="events_show_main_container">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-4">

				<%= @event.title %><br>
				<%= @event.description %><br>
				<%= @event.start_date.month %><br>
				<%= @event.end_date %><br>
				<%= @event.start_time %><br>
				<%= @event.end_time %><br>
				<%= button_to "Delete", "/events/#{@event.id}", method: :delete %>

			</div>
		</div>
	</div>
</div>
